@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap&subset=cyrillic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main__wrapper-outer {
  background: url('./assets/img/main_bg.png') no-repeat 100% 100%;
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  padding: 50px 80px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px 1fr;
  position: relative;
  @media screen and (max-width: 1000px) {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    padding: 50px 40px;
  }
  @media screen and (max-width: 760px) {
    padding: 30px 10px;
  }
  @media screen and (max-width: 540px) {
    padding: 30px 10px;
  }
  .main__wrapper-in {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 4px 4px 0;
    box-shadow: 0 0 120px rgba(31, 32, 41, 0.1);
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar { width: 0; }
    & { -ms-overflow-style: none; }
    & { overflow: -moz-scrollbars-none; }
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-section {
  padding: 40px 50px;
  @media screen and (max-width: 1000px){
    padding: 30px 30px;
  }
  @media screen and (max-width: 760px){
    padding: 20px 10px;
  }
  h3 {
    font-size: 24px;
    letter-spacing: 1.8px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
.customSelect {
  width: 100%;
  margin: 10px 0;
  &__control {
    &:hover {
      border-color: #ff8600 !important;
      outline: none !important;
      box-shadow: 0 0 0 1px #ff8600 !important;
    }
  }
  &__control--is-focused, &__control--menu-is-open {
    border-color: #ff8600 !important;
    outline: none !important;
    box-shadow: 0 0 0 1px #ff8600 !important;
  }
}

input, textarea {
  border: 1px solid rgba(255, 130, 0, 0.29);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: #ffffff !important;
  outline: none;
  height: 24px;
  width: 100%;
  color: #cccccc;
  font-size: 15px;
  font-weight: 500;
  padding: 25px 15px;
  &:focus {
    color: #000000;
    border: 1px solid #ff8600
  }
}


.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  svg {
    margin: 0 5px;
  }
}
.closeBtn {
  color: #83888b;
  cursor: pointer;
  transition: 0s;
  &:hover {
    color: #e16c80;
  }
}
.editBtn {
  color: #83888b;
  cursor: pointer;
  transition: 0s;
  &:hover {
    color: #ff8600;
  }
}

.btn-default {
  background: transparent;
  cursor: pointer;
  border: 1px solid #333;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
  position: relative;
  border-radius: 5px;
  &:not(:last-child) {
    margin-right: 15px;
  }
  &:hover {
    background: #ff8600;
    color: #ffffff;
  }
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
