* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main__wrapper-outer {
  background: url('./assets/img/main_bg.png') no-repeat 100% 100%;
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  padding: 50px 80px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 250px 1fr;
  .main__wrapper-in {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 4px 4px 0;
    box-shadow: 0 0 120px rgba(31, 32, 41, 0.1);    
  }
}