.projectPage {
    padding: 30px 40px;
    .projectList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .projectItem {
            width: 48%;
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;
            .btnBlock {
                position: absolute;
                top: 0;
                right: -100%;
                opacity: 0;
                transition: 0.3s;
            }
            &:hover {
                .btnBlock {
                    right: 0;
                    opacity: 1;
                }
            }
            .techList {
                display: flex;
                list-style: none;
                margin: 10px 0;
                li {
                    font-size: 12px;
                    font-weight: 700;
                    margin-right: 5px;
                }
            }
            a {
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }
}
