.projectPage {
    padding: 30px 40px;
    .projectList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .projectItem {
            width: 48%;
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;
            .btnBlock {
                position: absolute;
                top: 0;
                right: -100%;
                opacity: 0;
                transition: 0.3s;
            }
            &:hover {
                .btnBlock {
                    right: 0;
                    opacity: 1;
                }
            }
        }
    }
}
